.log {
  height: calc(100vh - 66px);
  padding: 64px 0;
  display: flex;
  justify-content: space-between;

  &.log-in {
    .log__form-wrapper {
      order: 0;
      border-radius: 16px 0 0 16px;
    }

    .log__back {
      order: 1;
      border-radius: 0 16px 16px 0;
    }
  }

  &.log-up {
    .log__form-wrapper {
      order: 1;
      border-radius: 0 16px 16px 0;
    }

    .log__back {
      order: 0;
      border-radius: 16px 0 0 16px;
    }
  }

  &__content {
    height: 100%;
    background: rgba(52, 127, 109, 0.32);
    backdrop-filter: blur(8px);
    padding: 32px;
  }

  &__form {
    &-wrapper {
      position: relative;
      flex-basis: 50%;
      overflow: hidden;
    }

    &-img {
      z-index: -10;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__back {
    flex-basis: 50%;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .author {
      position: absolute;
      left: 50%;
      bottom: 62px;
      transform: translateX(-50%);

      padding: 8px 16px;
      background: rgba(255, 255, 255, 0.64);
      backdrop-filter: blur(8px);
      color: #000;
      border-radius: 8px;

      font-size: 18px;

      span {
        font-weight: 500;
      }
    }
  }

  &__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 16px;

    background-image: linear-gradient(to right, #006051, #43786c);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    span {
      text-transform: uppercase;
      font-weight: 700;
      color: #0b2107;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}