.input {
  &-password {
    position: relative;
    width: 100%;

    .input {
      width: 100%;
      padding-right: 46px;
    }

    svg {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 26px;
      height: 26px;
      cursor: pointer;
    }
  }

  &-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    &:hover .check {
      stroke-dashoffset: 0;
    }

    .background {
      fill: #d14343;
      transition: ease all 0.6s;
      -webkit-transition: ease all 0.6s;
    }

    .stroke {
      fill: none;
      stroke: #fff;
      stroke-miterlimit: 10;
      stroke-width: 2px;
      stroke-dashoffset: 100;
      stroke-dasharray: 100;
      transition: ease all 0.6s;
      -webkit-transition: ease all 0.6s;
    }

    .check {
      fill: none;
      stroke: #fff;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2px;
      stroke-dashoffset: 22;
      stroke-dasharray: 22;
      transition: ease all 0.6s;
      -webkit-transition: ease all 0.6s;
    }

    input[type=checkbox] {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      margin: 0;
      opacity: 0;
      -appearance: none;
      -webkit-appearance: none;

      &:hover {
        cursor: pointer;
      }

      &:checked + svg .background {
        fill: #128d12;
      }

      &:checked + svg .stroke {
        stroke-dashoffset: 0;
      }

      &:checked + svg .check {
        stroke-dashoffset: 0;
      }
    }
  }
}

.field {
  &-wrapper {
    position: relative;

    .input {
      width: 100%;
    }

    &:has(.error_field) .input {
      &-password {
        svg {
          right: 42px;
        }
      }
    }
  }
}

.error {
  &_field {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
  }

  &_message {
    position: absolute;
    width: max-content;
    right: 0;
    top: 113%;

    padding: 8px 12px;
    border-radius: 4px;
    background: #880000;
    color: #fff;

    opacity: 0;
    visibility: hidden;

    transition: opacity .3s, visibility .3s;
  }

  &_content {
    position: relative;

    svg {
      width: 26px;
      height: 26px;
      cursor: pointer;

      path {
        fill: #880000;
      }

      &:hover ~ .error_message {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.ql-editor {
  min-height: 256px;
}

