.rooms-page {
  padding: 64px 0;

  .room-list {
    //display: flex;
    //flex-wrap: wrap;
    //justify-content: flex-start;
    //gap: 32px 16px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    & > .room {
      //flex: 1;
      //min-width: 360px;

      position: relative;

      .room__link {
        &-edit {
          position: absolute;
          top: 8px;
          right: 8px;
          z-index: 50;
          display: inline-block;
          margin: 0;

          svg {
            transition: transform .3s;

            path {
              stroke: white;
            }
          }

          &:hover {
            svg {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}